<body>
  {{ header }}
  <h4>Palautuksesi {{ today }}</h4>
  <ul>
  {% for item in items %}
    <li>{{ item.title }}, {{ item.author }} : {{ item.item_barcode }}</li>
  {% endfor %}
  </ul>
  {{ footer }}
</body>